@font-face {
  font-family: "iconfont"; /* Project id 1883288 */
  src: url('iconfont.woff2?t=1624188026637') format('woff2'),
       url('iconfont.woff?t=1624188026637') format('woff'),
       url('iconfont.ttf?t=1624188026637') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhuidingbu:before {
  content: "\e6a2";
}

.icon-star:before {
  content: "\e6fb";
}

.icon-wo:before {
  content: "\e613";
}

.icon-home:before {
  content: "\e6a9";
}

.icon-leimupinleifenleileibie:before {
  content: "\e7f9";
}

.icon-gouwuche:before {
  content: "\e602";
}

.icon-arrow-left:before {
  content: "\e645";
}

.icon-jiantou:before {
  content: "\e6cf";
}

.icon-calendar-arrow-right:before {
  content: "\eca5";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-fangdajing:before {
  content: "\e607";
}

.icon-Icon_massage:before {
  content: "\e625";
}

.icon-Icon_check_filled:before {
  content: "\e62a";
}

.icon-Icon_Refresh:before {
  content: "\e648";
}

.icon-Icon_info:before {
  content: "\e659";
}

.icon-arrow-up:before {
  content: "\e617";
}

.icon-arrow-down-solid2:before {
  content: "\e618";
}

.icon-arrow-down:before {
  content: "\e619";
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-location:before {
  content: "\e611";
}

